<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/shoaib749/medayu-web/master/logoicon10.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstra links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>MedAyu</title>

</head>

<body style="background-image: url('https://raw.githubusercontent.com/shoaib749/medayu-web/master/5333978.jpg') ;
background-size: cover; background-repeat: no-repeat;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <a class="navbar-brand" href="#">
                    <img src="https://raw.githubusercontent.com/shoaib749/medayu-web/master/logoicon10.png"
                        alt="" width="30" height="30" class="d-inline-block align-text-top">
                    MedAyu
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./api.html">APIs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">FAQs</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header end -->
    <!-- <h2 style=" display: flex; align-items: center "> MedAyu</h2> -->

    <!-- Background -->
    <!-- <div class="bg-image" > -->

    <!-- background end -->
    <!-- Form Start -->


    <div class="container  p-3 display-flex shadow p-3 mb-5 bg-body rounded"
        style="height: auto; width: 50vw; margin-top: 60px; opacity: 0.8; ">
        <form name="userSymptomsForm" method="post" onsubmit=validateForm()>
            <!-- <div class="form-floating  mb-3 ">
                <input type="text" class="form-control" id="Symptoms_1" placeholder="">
                <label for="Symptoms_1">Symptom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Symptoms_2" placeholder="">
                <label for="Symptoms_2">Symptom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Symptoms_3" placeholder="">
                <label for="Symptoms_3">Symptom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Symptoms_4" placeholder="">
                <label for="Symptoms_4">Symptom</label>
            </div> -->
            <div id="inputForm">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="0" placeholder="name@example.com" required>
                    <label for="0">Symptom</label>
                </div>
            </div>

            <!-- <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" type="button" value="submit" onclick="SubmitData()">Submit</button>
            </div> -->
            <button type="button" class="btn btn-primary btn" onclick="addInput()">Add</button>
            <button type="button" class="btn btn-success btn" value="submit" onclick="SubmitData()">Submit</button>

        </form>

        <!-- button -->

    </div>

    <!-- Form End -->

    <!-- footer start -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top bg-dark"
        style="position: fixed; width: -webkit-fill-available; bottom: 0;">
        <p class="col-md-4 mb-0 text-muted px-3">&copy; 2023 Unicon, Inc</p>
        <a href="about.html"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="bi me-2" width="40" height="40"
                src="https://raw.githubusercontent.com/shoaib749/medayu-web/master/logoicon10.png">
            </img>
        </a>
        <ul class="nav col-md-4 justify-content-end px-3">
            <li class="nav-item ">
                <a href="./index.html" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="nav-link px-2 text-muted">About</a>
            </li>
            <li class="nav-item">
                <a href="./api.html" class="nav-link px-2 text-muted">APIs</a>
            </li>
            <li class="nav-item">
                <a href="./contact.html" class="nav-link px-2 text-muted">FAQs</a>
            </li>
        </ul>
    </footer>
    <!-- footer end -->
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <script>
        var i = 1;
        function addInput() {
            var input = document.createElement('input');
            input.id = i;
            input.type = "text";
            input.className = "form-control";
            input.placeholder = "symtoms";

            var label = document.createElement("label");
            label.id = "lable_" + i;
            label.htmlFor = i;
            label.appendChild(document.createTextNode("Symptom"));

            var innerContainer = document.createElement('div');
            innerContainer.id = "inner_" + i;
            innerContainer.className = "form-floating mb-3"
            innerContainer.appendChild(input);
            innerContainer.appendChild(label);

            var container = document.getElementById("inputForm");
            container.appendChild(innerContainer);

            console.log("created input with Id:", i);
            i++;
        }
        function SubmitData() {
            let symptomsarray = [];
            let k = 0;
            for (let j = 0; j < i; j++) {
                var s = document.getElementById(j).value;
                console.log("value of input:", s);
                if (s.length != 0) {
                    symptomsarray[k] = s;
                    k++;
                }
            }
            if (k != 0) {
                console.log(symptomsarray);
                const apicall = async () => {
                    const response = await fetch('https://web-production-aeed.up.railway.app/EnterSymptoms', {
                        method: 'POST',
                        body: JSON.stringify({
                            user_symtoms: symptomsarray
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const myjson = await response.json();
                    console.log(myjson);
                    var testArray = ['cold', 'fever', 'headache', 'vomitting', 'red eyes'];

                }


                try {
                    window.localStorage.setItem("user", JSON.stringify(symptomsarray));
                    console.log(JSON.stringify(symptomsarray));
                    console.log(JSON.parse(window.localStorage.getItem("user")));
                    window.location.href = './check.html';
                    // apicall();
                } catch {
                    console.log("Error in api call");
                }
            } else {
                alert("Enter Atleast 1 symptom");
            }

        }
        //creating api request


    </script>

</body>

</html>